#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

video {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

.captureContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.canvas1,
.imgBox {
  width: 100%;
  /* max-width: 576px; */
  /* height: 600px; */
  overflow: hidden;
}

canvas {
  width: 480px;
  height: 600px;
}

video {
  width: 390px;
  height: 600px;
}

.captureText {
  width: 280px;
  text-align: center;
}

.captureBox {
  /* position: absolute; */
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.circle {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 9999px;
  margin: 0 auto;
  content: '';
}

.circle-outer {
  width: 52px;
  height: 52px;
  border-radius: 9999px;
  border: 2px solid #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  width: 36px;
  height: 36px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
