#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.canvas1,
.imgBox {
  width: 100%;
  max-width: 576px;
}

.header {
  margin-bottom: 12px;
}
